@import 'src/assets/style/main';

.collapse {
  margin: 0 auto;
  max-width: 1100px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: $third-color;

  &_title {
    @include flex(row, space-between, center);
    padding: 10px 15px;
    background-color: $second-color;
    color: $first-color;
    border-radius: 10px;
    font-weight: 500;
    font-size: clamp(13px, 2vw, 18px);
    cursor: pointer;

    .arrow {
      transition: all 0.2s ease-in-out;
      @media screen and (max-width: 1230px) {
        width: 12px;
      }
    }

    .arrow_down {
      transform: rotate(180deg);
    }

    .arrow_up {
      transform: rotate(0deg);
    }
  }

  &_text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: auto;
    padding: 10px;
    letter-spacing: 1px;
    font-size: clamp(12px, 2vw, 16px);
    visibility: visible;
    opacity: 1;
    color: $second-color;
    transition: visibility 0.5s ease-in-out,
    opacity 0.5s ease-in-out,
    height 0.2s ease-in-out;
  }

  &_text_hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
  }
}

.accommodation_collapse {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  margin: 30px auto;
  width: 95%;
  color: $second-color;
  &_item{
    width: 50%;
  }
  @media screen and (max-width: 650px){
    flex-direction: column;
    gap: 20px;
    margin: 20px auto;
    &_item{
      width: 100%;
    }
  }
}