@import 'src/assets/style/main';

.footer {
  @include flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
  width: 95%;
  margin: 0 auto;
  color: white;
  background-color: black;
  font-size: 20px;
  @media screen and (max-width: 1230px) {
    gap: 25px;
    padding: 25px 15px;
    font-size: 10px;
  }
  @media screen and (max-width: 550px) {
    width: 100%;
    font-size: 10px;
  }
}