@import 'src/assets/style/main';

.nav_list{
  display: flex;
  gap: 50px;
  color: $second-color;
  font-size: clamp(12px, 2.5vw, 24px);
  @media screen and (max-width: 700px){
    gap: 20px;
  }
  &_item{
    &_active{
      position: relative;
      color: $second-color;
      transition: all 0.2s ease-in-out;
      text-decoration: underline solid $second-color;

    }
  }
}